<div class="span9">
    <h2>Changer mot passe</h2>
    {% trans_default_domain 'FOSUserBundle' %}
    <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">


            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
</div>