
{% block fos_user_content %}

            <div class="span9">
                <h2>Modifier mes informations</h2>

                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">

                        <div class="span4">
                            {% trans_default_domain 'FOSUserBundle' %}

                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            {{ form_widget(form) }}
                            <div>
                                <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}"/>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                </div>
            </div>



{% endblock fos_user_content %}
