parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: bd_ecommerce
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: your email
    mailer_password: your password
    secret: ThisTokenIsNotSoSecretChangeIt
twig:
    globals:
        titre: 'Fruits & Légumes'
        telephone: '02 35 00 00 00'
        fax: '02 35 00 00 00'
        adresse: '3 rue des jardins - Lyon 69 002'
        email: your email
