{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}

    <h1>{{ 'titre.add_page'| trans }}</h1>
    <br/>
    <div class="span8">
        {{ form(form) }}
    </div>

    <div class="span12">
    <ul>
        <li>
            <a href="{{ path('admin_pages_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>


{% endblock %}
