<div class="well">
     <ul class="nav nav-list">
        <li class="nav-header">Clients</li>
        <li>
            <a href="{{ path('admin_utilisateurs_index') }}">List Utilisateurs</a>
        </li>
        <li><a href="{{ path('admin_commandes_index') }}">List Commandes</a></li>
        <li>
    </ul>
</div>