<hr />

<footer id="footer" class="vspace20">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p><a href="{{ path('page_produits') }}"> Ecommerce {{ titre }} </a> &copy; Copyright {{ "NOW" | date('Y') }}   -  Design and Developed by <a href="http://brportfolio.pe.hu">brportfolio</a>.  All Rights Reserved. </p>
			</div>
		</div>
	</div>
</footer>