<div class="well">
     <ul class="nav nav-list">
        <li class="nav-header">Produits</li>
        <li>
            <a href="{{ path('admin_produits_index') }}">List Produits</a>
        </li>
        <li><a href="{{ path('admin_categories_index') }}">List Catégories</a></li>
        <li>
    </ul>
</div>