{% extends '::default/layoutDefault.html.twig' %}

    {% block title %}
        {% if t is defined %}
            {{ produits['1'].categorie.nom }}
        {% else %}
            Ecommerce Fruits & Légumes
        {% endif %}

    {% endblock %}

{% block bodyDefault %}
    <div class="span9">
        {% block fos_user_content %}

        {% endblock fos_user_content %}
    </div>

{% endblock %}
