{% extends '::default/layoutDefault.html.twig' %}


{% block bodyDefault %}
        <div class="span9">
            <h2>{{ page.titre }}</h2>
            {{ page.contenu |raw }}
        </div>
{% endblock %}
