{% extends '::default/layoutDefault.html.twig' %}


{% block bodyDefault %}
        <div class="span9">
            <h4>{{ page.titre }}</h4>
            {{ page.contenu |raw }}
        </div>
{% endblock %}
